/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.5;
  font-family:'josefin sans';
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*HOME PAGE*/

header{
  background-color:#172a35;
  width:100%;
}

svg{
  padding-top:2.5rem;
  width:50px;
}

main{
  margin:0 auto;
  max-width:1200px;
  font-family:'Josefin Sans';
}

main img{
  max-width:100%;
}

.nav{
  margin:0 auto;
  text-align: center;
}

.nav a{
  display:block;
  text-decoration: none;
  color:#cb7431;
  font-family:'Josefin Sans';
  font-weight: bold;
  letter-spacing:5px;
}

.nav a:hover{
  color:#E0D5C7;
}

.nav li{
  list-style-type: none;
  display:inline-block;
  padding-right:2.5rem;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}

.links {
  margin-top:0;
}

.nav-button{
  border:none;
  background-color:#F6F1Eb;
}

.nav-button:hover{
  color:#cb7431;
}

/*TOGGLE NAV*/

/*.toggle-show-nav{
  display:none;
}*/

.nav-button{
  display:none;
  margin-left:0;
}

/*DROPDOWN NAV*/

.dropdown {
  position:relative;
  display:inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:left;
}

.dropdown-content a:hover {background-color: #FFF;}

.dropdown:hover .dropdown-content {
  display: block;
  background-color:#FFF;
}

/*END DROPDOWN*/

.portfolio{
  margin:0 auto;
  max-width:1200px;
  display:grid;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap:10%;
}

.portfolio div{
  margin-bottom:5rem;
}

.portfolio img{
  max-width:100%;
  border:1px solid #F6F1Eb;
}

.last-img{
  padding-bottom:10rem;
}

.creative{
  text-align:center;
  margin-top:3rem;
}

.creative h1{
  font-size:2.5rem;
  font-family:'Meddon';
  margin-top:3rem;
  color:#172a35;
}

.creative h2{
  font-size:1.8rem;
}

.mission{
  margin-top:4.5rem;
}

.why{
  font-size:2.5rem;
  color:#cb7431;
}

.creative p{
  font-style:italic;
  font-size:1.5rem;
  margin-bottom:30px;
  margin-top:40px;
}

.button{
  border:none;
  background-color: #cb7431;
  border-radius: 25px;
  padding:10px 20px;
  outline:none;
  font-weight:bold;
}

.button:hover{
  border:none;
  background-color:#172a35;
  color:#F6F1Eb;
  outline:none;
}

.creative a{
  text-decoration: none;
  color:#FFF;
}

.creative a:hover,
.creative a:active{
  color:#FFF;
}

footer{
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:#FFF;
  height:2.5rem;
  border-top:1px solid #F6F1Eb;
  text-align:center;
  font-family:'Josefin Sans';
  padding-top:0.5rem;
}

/*LOGO PAGE*/

.femigold{
  margin-bottom:10rem;
}

.project{
  display:grid;
  grid-template-columns: 50% 50%;
  padding-top:5rem;
}

/*ABOUT PAGE*/

h4{
  font-family:'yeseva one';
  color:#172a35;
}

.page-title{
  text-align:center;
}

.page-title h4{
  padding:2.5rem 0;
  font-size:24px;
}

.services{
  padding-top:2.5rem;
}

main img{
  max-width:100%;
}

.title{
  margin:0 auto;
  max-width:1200px;
  font-family:'Josefin Sans';
}

.about{
  margin:0 auto;
  max-width:900px;
  display:grid;
  grid-template-columns: 50% 50%;
  font-family:'Josefin Sans';
}

.about p{
  padding-bottom:1rem;
}

.bio{
  padding-left:1rem;
}

.quote{
  font-family:meddon;
  text-align:right;
  font-size:1rem;
  padding-top:2rem;
  color:#cb7431;
}

.colorize{
  color:#cb7431;
  font-weight:bold;
}

.logo-svg{
  text-align:center;
  padding-bottom:10rem;
}

.logo-svg svg{
  width:30px;
}

/*PRINT PAGE*/

.double img{
  max-width: 600px;;
}

/*CONTACT PAGE*/

.contact{
  text-align: center;
}

.contact i{
  font-size:2.5rem;
}

.contact h2{
  margin-top:5rem;
  font-family:'Meddon';
  font-size:36px;
  color:#cb7431;
  word-wrap: break-word;
  width:50%;
}

.contact h3{
  padding-bottom:1rem;
}

.contact a{
  color:#cb7431;
  padding-right:0.5rem;
}

.contact a:hover{
  color:#F6F1Eb;
}

.handle{
  padding-top:1rem;
}

/*MEDIA QUERIES*/

@media only screen and (max-width:615px){
  .nav-button{
    display: block;
  }
  .toggle-show-nav{
    display: none;
  }
  .nav li{
    list-style-type: none;
    display:block;
    padding:0.5rem;
  }
  header{
    margin-bottom:100px;
  }
  .portfolio,
  .project,
  .about{
    display:grid;
    grid-template-columns:100%;
  }
  .about{
    padding-top:0;
  }
  .creative h1{
    font-size:1.5rem;
  }
  .creative h2{
    font-size:1rem;
  }
  .creative p{
    font-size:1rem;
  }
  .mission{
    margin-top:4.5rem;
  }
  .why{
    font-size:1.5rem;
    color:#cb7431;
  }
  .button{
    margin-bottom:100px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

